* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: rgb(215, 215, 215);
	font-family: 'Roboto Condensed', sans-serif;
	width: 500px;
	margin: auto;
	margin-top: 100px;
}

img {
	height: 125px;
	display: block;
	margin: auto;
	box-shadow: 2px 0px 2px 0px rgba(0, 0, 50, 0.97);
}

.img-circle {
	border-radius: 50%;
}

h1 {
	font-size: 150%;
	font-style: bold;
	color: rgb(115, 115, 115);
}

p {
	font-size: 85%;
}

.footer {
	display: block;
}

.contact1 {
	width: 150px;
    position: static;
	color: rgb(115, 115, 115);
}

.contact2 {
	width: 90px;
	position: absolute;
	left: 40%;
	top: 113.3%;
}