<!DOCTYPE HTML>
<html>
  
  <head>
    <title>About Jonathan</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>
  
  <body>

    {{ content }}

    <hr>
    <div class="footer">
      <div class="contact1">
        <p>
          Jonathan Grubb<br />
          Student: <a href="http://www.awesomeincu.com" target="_blank">Awesome Inc. U</a><br />
          joncgrubb [at] gmail.com
        </p>
      </div>
      <div class="contact2">
        <p>
          <a href="https://github.com/Puddingstomp" target="_blank">GitHub</a><br />
          <a href="https://stackexchange.com/users/11615349/joncgrubb" target="_blank">StackOverflow</a><br />
          <a href="https://www.linkedin.com/in/joncgrubb" target="_blank">LinkedIn</a><br />
        </p>
      </div>
    </div>
  
  </body>
</html>